* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
    margin: 30px;
    background-color: snow;
    width: 350px;
    padding-bottom: 40px;
}

.card .card-image {
    width: inherit;
}

.card .card-content {
    padding: 30px;
    text-transform: capitalize;
    color: inherit;
    line-height: 23px;
}

.card .card-content-text {
    color: inherit;
}

.card .category-text {
    font-size: 12px;
    color: grey;
    text-transform: uppercase;
}

.main-page {
    display: flex;
    justify-content: center;
    background-color: #efeaea;
    padding: 80px;
}

.card-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.card-dark {
    background-color: #514f52;
    color: snow;
}

.card-shadow {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: box-shadow 0.3s ease-in-out;
}
